@namespace RSDK.Client
@using Revuo.Chat.Abstraction.Extensions;

@inherits Revuo.Chat.Client.Base.Abstractions.BasePayloadControlThinClient<ProjectCreateProgress, SDKApp>

<div class="revuo-control project-create-progress container p-3 border rounded mt-3 mb-3">
  <h4 class="mb-3">Creating project</h4>

  <div class="mb-3">
    <div class="progress" style="height: 22px;">
      <div class="progress-bar @ProgressBarClass" role="progressbar" style="width: @ProgressPercent%" aria-valuenow="@ProgressPercent" aria-valuemin="0" aria-valuemax="100">@ProgressPercent% </div>
    </div>
  </div>

  
  @if (Payload?.IsError() == true)
  {
    <div class="alert alert-danger mt-3">@Payload?.Message</div>
  }
  else if (Payload?.IsCompleted == true)
  {
    <div class="alert alert-success mt-3">Project creation completed successfully.</div>
  }

  @if (Payload?.Log?.Count > 0)
  {
    <div class="mt-3">
      <h6>Details</h6>
      <pre class="small">
        @foreach (var line in Payload.Log)
        {
          var resultLine = line + Environment.NewLine;
          @resultLine
        }
      </pre>
    </div>
  }
</div>